<menu  #component [class]="displayStyleclass" >
    
    <div class="search-menu-content">
        <div class="search-menu-action">
            <button (click)="toggle()">
                <ng-container *ngIf="display">
                    <inu-icon [icon]="icons.close"></inu-icon>
                </ng-container>
                <ng-container *ngIf="!display">
                    <inu-icon [icon]="icons.open"></inu-icon>
                </ng-container>
            </button>
        </div>
        <form [formGroup]="search">
            <ng-container *ngIf="data">
                <fieldset>
                    <legend>Tags</legend>
                </fieldset>
            
                <fieldset>
                    <legend>Verbs</legend>
                    <ng-container formArrayName="verbs">
                        <div [formGroupName]="i" *ngFor="let item of verbsField?.controls; let i = index">
                            <input type="checkbox" formControlName="checked" [id]="'verb-'+i">
                            <label [for]="'verb-'+i">{{verbsDefault[i]}}</label>
                        </div>
                    </ng-container>
                </fieldset>
            </ng-container>
        </form>
    </div>
    
   
    <div class="search-menu-action">
        <button (click)="toggle()">
            <ng-container *ngIf="display">
                <inu-icon [icon]="icons.close"></inu-icon>
            </ng-container>
            <ng-container *ngIf="!display">
                <inu-icon [icon]="icons.open"></inu-icon>
            </ng-container>
        </button>
    </div>
</menu>