/* You can add global styles to this file, and also import other style files */

:root {
    --endpoint-font-color: #3b4151;
    --endpoint-verb-font-color: #ffffff;
    /** GET*/
    --endpoint-get-background: #61affe;
    --endpoint-get-background-darker: #497aac;
    --endpoint-get-detail-background: #EBF3FB;
    
    /** HEAD*/
    --endpoint-head-background: #9012fe;;
    --endpoint-head-background-darker: #6114a5;;
    --endpoint-head-detail-background: #f0e3fb;

    /** POST*/
    --endpoint-post-background: #49cc90;
    --endpoint-post-background-darker: #378562;
    --endpoint-post-detail-background: #E8F6F0;

    /** PUT*/
    --endpoint-put-background: #fca130;
    --endpoint-put-background-darker: #a16c2a;
    --endpoint-put-detail-background: #FBF1E6;

    /** PATCH*/
    --endpoint-patch-background: #50e3c2;
    --endpoint-patch-background-darker: #3c9985;
    --endpoint-patch-detail-background: #E9F8F5;

    /** DELETE*/
    --endpoint-delete-background: #f93e3e;
    --endpoint-delete-background-darker: #9e3030;
    --endpoint-delete-detail-background: #FAE7E7;

    /** OPTIONS*/
    --endpoint-option-background: #0d5aa7;
    --endpoint-option-background-darker: #0f4174;
    --endpoint-option-detail-background: #E2EAF2;


    /** TRACE*/
    --endpoint-trace-background: #131212;
    --endpoint-trace-background-darker: #000000;
    --endpoint-trace-detail-background: #FAFAFA;

    --danger: #dc0000;
    --danger-dark: #b50000;
    --danger-light: #ff4141;
    --warning: #ff6600;
    --warning-dark: #b54800;
    --warning-light: #ff9900;
    --success: #009100;
    --success-dark: #005b00;
    --success-light: #9ade00;
    --info:#0084c8;
    --info-dark:#005c94;
    --info-light:#19aeff;
    --neutral:#999999;
    --neutral-dark:#666666;
    --neutral-light:#cccccc;
}

/**********************************************************************************************************************
* inu-endpoint
**********************************************************************************************************************/
.inu-endpoint{
    font-family: sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid;

    header{
        padding: 0.25rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        h2{
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            flex: 1;
            cursor: pointer;
            .inu-endpoint-verb{
                font-size: 80%;
                border:none;
                width: 6rem;
                display: inline-block;
                margin-right: 1rem;
                text-align: center;
                border-radius: 0.2rem;
                text-transform: uppercase;
                color: var(--endpoint-verb-font-color);
            }

            .inu-endpoint-url{
                font-size: 80%;
                font-weight: normal;
            }
        }

        .button{
            display: block;
            height: 1rem;
            width: 1rem;
            & span{
                display: flex;
                height: 1rem;
                width: 1rem;
                align-items: center;

                svg{
                    width: 1rem;
                    height: 1rem;
                }
            }
            
        }
    }
    
    .content-toggle{
        display: none;
        &.display{
            display: flex;
            flex-direction: column;
        }
        fieldset{
            border: none;
            margin-top: 1rem;
            padding: 0;

            label{
                font-weight: bold;
                background-color: #ffffff;
                display: block;
                padding: 1rem;
                border-bottom: 1px solid;
                border-top: 1px solid;
            }
        }
        table{
            width: 100%;
            thead{
                tr{
                    text-align: left;
                    border-bottom: 1px solid;
                }
            }
            tbody{
                tr{
                    text-align: left;
                }
            }
    
        }
        
    }
    
    .inu-endpoint-response-status{
        width: 6rem;
    }
    

    &.get {
        background: var(--endpoint-get-detail-background);
        border-color: var(--endpoint-get-background);
        .inu-endpoint-verb{
            background-color: var(--endpoint-get-background);
        }
        label{
            border-color: var(--endpoint-get-background);
        }
        .parameters-examples{
            border-color: var(--endpoint-get-background);
            .parameter-example-header{
                background-color: var(--endpoint-get-background);
                color:var(--endpoint-verb-font-color);
            }
        }
        .response-example{
            border-color: var(--endpoint-get-background);
            .response-example-header{
                background-color: var(--endpoint-get-background);
                color:var(--endpoint-verb-font-color);
            }
        }
        .response-example.error{
            border-color: var(--endpoint-get-background);
            .response-example-header{
                background-color: var(--endpoint-get-background);
                color:var(--endpoint-verb-font-color);
            }
        }
        .response-example.error{
            border-color: var(--endpoint-get-background-darker);
            .response-example-header{
                background-color: var(--endpoint-get-background-darker);
                color:var(--endpoint-verb-font-color);
            }
        }
    }


    &.head {
        background: var(--endpoint-head-detail-background);
        border-color: var(--endpoint-head-background);
        .inu-endpoint-verb{
            background-color: var(--endpoint-head-background);
        }
        label{
            border-color: var(--endpoint-head-background);
        }
        .parameters-example{
            border-color: var(--endpoint-head-background);
            .parameter-example-header{
                background-color: var(--endpoint-head-background);
                color:var(--endpoint-verb-font-color);
            }
        }
        .response-example{
            border-color: var(--endpoint-head-background);
            .response-example-header{
                background-color: var(--endpoint-head-background);
                color:var(--endpoint-verb-font-color);
            }
        }
        .response-example.error{
            border-color: var(--endpoint-head-background-darker);
            .response-example-header{
                background-color: var(--endpoint-head-background-darker);
                color:var(--endpoint-verb-font-color);
            }
        }
    }

    &.post {
        background: var(--endpoint-post-detail-background);
        border-color: var(--endpoint-post-background);
        .inu-endpoint-verb{
            background-color: var(--endpoint-post-background);
        }
        label{
            border-color: var(--endpoint-post-background);
        }

        .parameters-example{
            border-color: var(--endpoint-post-background);
            .parameter-example-header{
                background-color: var(--endpoint-post-background);
                color:var(--endpoint-verb-font-color);
            }
        }
        .response-example{
            border-color: var(--endpoint-post-background);
            .response-example-header{
                background-color: var(--endpoint-post-background);
                color:var(--endpoint-verb-font-color);
            }
        }
        .response-example.error{
            border-color: var(--endpoint-post-background-darker);
            .response-example-header{
                background-color: var(--endpoint-post-background-darker);
                color:var(--endpoint-verb-font-color);
            }
        }
    }

    &.put {
        background: var(--endpoint-put-detail-background);
        border-color: var(--endpoint-put-background);
        .inu-endpoint-verb{
            background-color: var(--endpoint-put-background);
        }
        label{
            border-color: var(--endpoint-put-background);
        }
        .parameters-example{
            border-color: var(--endpoint-put-background);
            .parameter-example-header{
                background-color: var(--endpoint-put-background);
                color:var(--endpoint-verb-font-color);
            }
        }
        .response-example{
            border-color: var(--endpoint-put-background);
            .response-example-header{
                background-color: var(--endpoint-put-background);
                color:var(--endpoint-verb-font-color);
            }
        }
        .response-example.error{
            border-color: var(--endpoint-put-background-darker);
            .response-example-header{
                background-color: var(--endpoint-put-background-darker);
                color:var(--endpoint-verb-font-color);
            }
        }
    }

    &.patch {
        background: var(--endpoint-patch-detail-background);
        border-color: var(--endpoint-patch-background);
        .inu-endpoint-verb{
            background-color: var(--endpoint-patch-background);
        }
        label{
            border-color: var(--endpoint-patch-background);
        }
        .parameters-example{
            border-color: var(--endpoint-patch-background);
            .parameter-example-header{
                background-color: var(--endpoint-patch-background);
                color:var(--endpoint-verb-font-color);
            }
        }
        .response-example{
            border-color: var(--endpoint-patch-background);
            .response-example-header{
                background-color: var(--endpoint-patch-background);
                color:var(--endpoint-verb-font-color);
            }
        }
        .response-example.error{
            border-color: var(--endpoint-patch-background-darker);
            .response-example-header{
                background-color: var(--endpoint-patch-background-darker);
                color:var(--endpoint-verb-font-color);
            }
        }
    }
    
    &.delete {
        background: var(--endpoint-delete-detail-background);
        border-color: var(--endpoint-delete-background);
        .inu-endpoint-verb{
            background-color: var(--endpoint-delete-background);
        }
        label{
            border-color: var(--endpoint-delete-background);
        }
        .parameters-example{
            border-color: var(--endpoint-delete-background);
            .parameter-example-header{
                background-color: var(--endpoint-delete-background);
                color:var(--endpoint-verb-font-color);
            }
        }
        .response-example{
            border-color: var(--endpoint-delete-background);
            .response-example-header{
                background-color: var(--endpoint-delete-background);
                color:var(--endpoint-verb-font-color);
            }
        }
        .response-example.error{
            border-color: var(--endpoint-delete-background-darker);
            .response-example-header{
                background-color: var(--endpoint-delete-background-darker);
                color:var(--endpoint-verb-font-color);
            }
        }
    }

        
    &.options {
        background: var(--endpoint-option-detail-background);
        border-color: var(--endpoint-option-background);
        .inu-endpoint-verb{
            background-color: var(--endpoint-option-background);
        }
        label{
            border-color: var(--endpoint-option-background);
        }
        .parameters-example{
            border-color: var(--endpoint-option-background);
            .parameter-example-header{
                background-color: var(--endpoint-option-background);
                color:var(--endpoint-verb-font-color);
            }
        }
        .response-example.error{
            border-color: var(--endpoint-option-background-darker);
            .response-example-header{
                background-color: var(--endpoint-option-background-darker);
                color:var(--endpoint-verb-font-color);
            }
        }
    }

    &.trace {
        background: var(--endpoint-trace-detail-background);
        border-color: var(--endpoint-trace-background);
        .inu-endpoint-verb{
            background-color: var(--endpoint-trace-background);
        }
        label{
            border-color: var(--endpoint-trace-background);
        }
        .parameters-example{
            border-color: var(--endpoint-trace-background);
            .parameter-example-header{
                background-color: var(--endpoint-trace-background);
                color:var(--endpoint-verb-font-color);
            }
        }
        .response-example{
            border-color: var(--endpoint-trace-background);
            .response-example-header{
                background-color: var(--endpoint-trace-background);
                color:var(--endpoint-verb-font-color);
            }
        }
        
    }

    span.required{
        color: var(--danger);
        &::before{
            content: '*';
        
        }
        .label::before{
            content: "required";
            font-size: 75%;
            vertical-align: super;
            margin-left: 0.2rem;
        }
    }
    
}

code{
    border-radius: 0.3rem;
}

.parameters-examples{
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    border:1px solid;

    .parameter-example-header{
        font-weight: bold;
        padding: 0.5rem;
        text-align: center;
    }
    
}
.example-content,
.inu-extension-content{
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    
    grid-gap: 0.1rem;
    grid-auto-rows: minmax(1.5rem, auto);
    
    dt,dd{
        margin: auto;
    }

    dt{
        padding: 0;
    }
    dd{
        padding: 0;
    }

    .example-content{
        pre{
            margin: 0;
            padding: 0;
        }
    }
}


.inu-icon{
    height: 1rem;   
    width: 1rem;
    display: inline-block;
}

.response-example{
    margin-bottom: 0.5rem;
    border:1px solid;
    border-radius: 0.2rem;

    .response-example-header{
        display: flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        .response-example-header-name{
            width: 15rem;
            display: inline-block;
            font-weight: bold;
        }
    }

    .response-example-content{
        padding: 0.5rem;
        display: none;
        &.display{
            display: block;
        }
    }

}


.search-menu{
    background-color: #f1f1f1;
    padding: 0.5rem ;
    border-radius: 0.2rem;
    min-height: 100vh;
}