<section *ngIf="data">

    <header *ngIf="data.info">
        <h1 *ngIf="data.info.title">{{data.info.title}}</h1>
        <h2 *ngIf="data.info.version">{{data.info.version}}</h2>
        <p *ngIf="data.info.description">
            {{data.info.description}}
        </p>
    </header>

    <div class="content">

        <div *ngIf="data.paths">
            <div *ngFor="let endpoint of data.paths">
                <inu-endpoint [endpoint]="endpoint"></inu-endpoint>
            </div>
        </div>
        


        <pre >
            <code>
                {{data | json}}
            </code>
        </pre>

    </div>
</section>