<ng-container *ngIf="data">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Exemples</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let parameter of data; let index = index; let isFirst = first; let isOdd = odd;">
                <tr  [class]="getRowClass(index,isFirst, isOdd , (parameter.deprecated?'deprecated': ''))">
                    <td>
                        <span>{{parameter.name}}</span>
                        <span *ngIf="parameter.required" class="required"><span class="label"></span></span>
                    </td>
                    <td>{{parameter.schema?.type}}</td>
                    <td>{{parameter.description}}</td>
                    <td>
                        <div *ngIf="parameter.example" class="parameters-main-example">
                            <inu-code [data]="parameter.example"></inu-code>
                        </div>

                        <div *ngIf="parameter.examples && parameter.examples.length>0" class="parameters-examples">
                            <ng-container *ngFor="let example of parameter.examples; let paramIndex = index; let firstExample = first; let oddExample = odd;">

                                <div [class]="getRowClass(paramIndex,firstExample, oddExample ,'parameter-example')">
                                    <div  [class]="getParameterClass(paramIndex,'parameter-example-header')" (click)="toggleExample(paramIndex)">
                                            {{example.name}}
                                    </div>
                                    <dl [class]="getParameterClass(paramIndex,'example-content')">
                                        <dt>Summary</dt>
                                        <dd>{{example.summary}}</dd>

                                        <dt>External value</dt>
                                        <dd>{{example.externalValue}}</dd>

                                        <dt>Description</dt>
                                        <dd>{{example.description}}</dd>

                                        <dt>Value</dt>
                                        <dd><inu-code [data]="example.value"></inu-code></dd>

                                    </dl>
                                </div>
                            </ng-container>
                        </div>
                    </td>
                </tr>
            </ng-container>
            
        </tbody>
    </table>
</ng-container>
